* {
  margin: 0px;
  padding: 0px;
}

body {
  background: radial-gradient(rgba(65, 63, 63, 0.786), rgba(48, 46, 46, 0.885));
  color: white;
}

/* Encabezado */
/* fondo del encabezado */
header {
  width: 100%;
  height: 100px;
  background: rgba(65, 63, 63, 0.2);
  box-shadow: 0px 0px 5px rgba(65, 63, 63, 0.6);
}

/* Caja para el contenido dentro del encabezado */
#encabezado {
  width: 90%;
  height: 100px;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

/* logo y nombre de la web*/
#logotipo {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
}

/* estilos de el texto del logo */
#logotipo h2 {
  margin-left: 15px;
  color: white;
  font-weight: lighter;
  text-shadow: 0px 0px 2px black;
}

/* tamaño de la imagen en el logo */
#logotipo img {
  width: 10%;
  border-radius: 5px;
  box-shadow: 0px 0px 3px;
}

.menumovil {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* haciendo los links a otras secciones de la pagina */
#menu ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

#menu ul li {
  margin-right: 25px;
  font-size: 17px;
}

#menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

#menu ul li a:hover {
  color: rgb(180, 180, 141);
  text-decoration: underline;
  transform: scale(1.1);
}

/* estilos menu hamburgesa para version movil */
/* no debe aparecer en la vista de escritorio */
.menu_burger {
  display: none;
}

.menu_burger img {
  width: 40px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 3rem auto;
  background: rgba(65, 63, 63, 0.2);
  box-shadow: 0 0 10px rgba(65, 63, 63, 0.6);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.cotizador h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.cotizador select,
button {
  width: 100%;
  margin: 1rem 0;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.cotizador button {
  background-color: #00d2d3;
  color: #000;
  cursor: pointer;
}

.cotizador button:hover {
  background-color: #00b2b3;
  transform: scale(1.01);
}

.resultado {
  width: 100%;
  margin-top: 2rem;
  background: rgba(65, 63, 63, 0.2);
  box-shadow: 0 0 10px rgba(65, 63, 63, 0.6);
  padding: 1rem;
  border-radius: 5px;
}

.resultado h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.resultado p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.resultado a {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #00d2d3;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.resultado a:hover {
  color: #00b2b3;
  transform: scale(1.01);
}

.modelo-visual {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.modelo-visual img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0ff;
  transition: filter 0.3s ease-in-out;
}

/* Responsive */

@media (max-width: 1055px) {
  #logotipo {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  #logotipo {
    width: 55%;
  }

  #logotipo img {
    width: 12%;
  }
}

@media (max-width: 860px) {
  #logotipo {
    width: 45%;
  }

  #logotipo img {
    width: 15%;
  }
}

@media (max-width: 700px) {
  #logotipo img {
    width: 18%;
  }
  .menu_burger {
    display: block;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  /* aqui trabajaremos en la parte del menu en el movil. */
  .menumovil {
    position: fixed;
    width: 100%;
    height: 400px;
    background-color: rgb(83, 90, 83);
    opacity: 0.95;
    z-index: 3;
    top: 100px;
    transform: translateX(200%);
    transition: all 300ms;
  }
  .menumovil--show {
    transform: translateX(-5%);
  }
  #menu {
    width: 100%;
    text-align: center;
  }
  #menu ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  #menu ul li {
    margin: 25px;
    font-size: 22px;
  }
}

@media (max-width: 520px) {
  #logotipo {
    width: 60%;
  }

  #logotipo img {
    width: 22%;
  }
}

@media (max-width: 415px) {
  #logotipo {
    width: 70%;
  }
}

@media (max-width: 355px) {
  #logotipo img {
    width: 30%;
  }
}
