* {
    margin: 0px;
    padding: 0px;
}

/* Fondo hecho para que se vean bien los cometas */

.container {
    width: 100%;
    height: 100vh;
    background: radial-gradient(rgba(65, 63, 63, 0.786), rgba(48, 46, 46, 0.885));
}

/* Encabezado */
/* fondo del encabezado */
header {
    width: 100%;
    height: 100px;
    background: rgba(65, 63, 63, 0.2);
    box-shadow: 0px 0px 5px rgba(65, 63, 63, 0.6);

}

/* Caja para el contenido dentro del encabezado */
#encabezado {
    width: 90%;
    height: 100px;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

/* logo y nombre de la web*/
#logotipo {
    display: flex;
    flex-direction: row wrap;
    align-items: center;

}

/* estilos de el texto del logo */
#logotipo h2 {
    margin-left: 15px;
    color: white;
    font-weight: lighter;
    text-shadow: 0px 0px 2px black;
}

/* tamaño de la imagen en el logo */
#logotipo img {
    width: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
}

.menumovil {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* haciendo los links a otras secciones de la pagina */
#menu ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;

}

#menu ul li {
    margin-right: 25px;
    font-size: 17px;
}


#menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
}

#menu ul li a:hover {
    color: rgb(180, 180, 141);
    text-decoration: underline;
    transform: scale(1.1);
}

/* haciendo el boton de login en el menu */

#login .boton {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    background-color: lightseagreen;
    box-shadow: 0px 0px 4px rgb(110, 154, 110);
    border: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-weight: normal;
    transition: all 300ms;
}

#login .boton:hover {
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgb(110, 154, 110) inset;
    color: rgb(93, 88, 37);
}

/* estilos menu hamburgesa para version movil */
/* no debe aparecer en la vista de escritorio */
.menu_burger {
    display: none;
}

.menu_burger img {
    width: 40px;
}

/* Contenido */

h1 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 20px;

}




/* Responsive */

@media (max-width: 1055px) {
    #logotipo {
        width: 60%;
    }
}

@media (max-width: 1000px) {

    #logotipo {
        width: 55%;
    }

    #logotipo img {
        width: 12%;
    }
}

@media (max-width: 860px) {
    #logotipo {
        width: 45%;
    }

    #logotipo img {
        width: 15%;
    }
}

@media (max-width: 700px) {

    #logotipo img {
        width: 18%;
    }

    .menu_burger {
        display: block;
    }

    h1 {
        font-size: 25px;
    }



    /* aqui trabajaremos en la parte del menu en el movil. */
    .menumovil {
        position: absolute;
        width: 70%;
        height: 400px;
        background-color: rgb(83, 90, 83);
        opacity: .95;
        z-index: 3;
        top: 100px;
        transform: translateX(200%);
        transition: all 300ms;
    }
    .menumovil--show {
        transform: translateX(40%);
    }
    #menu {
        width: 100%;
        text-align: center;
    }
    #menu ul {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    #menu ul li{
        margin: 25px;
        font-size: 22px;
    }
    #login {
        width: 100%;
        text-align: center;
        margin: 20px;
        
    }
    #login .boton {
        font-size: 20px;
    }


}

@media (max-width: 520px) {
    #logotipo {
        width: 60%;
    }

    #logotipo img {
        width: 22%;
    }
}

@media (max-width: 415px) {
    #logotipo {
        width: 70%;
    }

}

@media (max-width: 355px) {
    #logotipo img {
        width: 30%;
    }
}