* {
    margin: 0px;
    padding: 0px;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(rgba(65, 63, 63, 0.786), rgba(48, 46, 46, 0.885));
    overflow: hidden;
}

/* Encabezado */

header {
    width: 100%;
    height: 100px;
    background: rgba(65, 63, 63, 0.2);
    box-shadow: 0px 0px 5px rgba(65, 63, 63, 0.6);
}

#encabezado {
    width: 90%;
    height: 100px;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

#logotipo {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    
}

#logotipo h2 {
    margin-left: 15px;
    color: white;
    font-weight: lighter;
    text-shadow: 0px 0px 2px black;
}

#logotipo img {
    width: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
}


#menu ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

#menu ul li {
    margin-right: 25px;
    font-size: 17px;
}


#menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
}

#menu ul li a:hover{
    color: rgb(180, 180, 141);
    text-decoration: underline;
    transform: scale(1.1);
}

#login button {
    cursor: pointer;
    width: 70px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(235, 229, 222);
    border: none;
    color: black;
    font-weight: bold;
    transition: all 300ms;
}

#login button:hover {
    border-radius: 6px;
    box-shadow: 0px 0px 5px black;
    color: rgb(93, 88, 37);
}






/* Animacion de cometas */

.cometa {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 110%;
    border-radius: 50%;
    background-color: rgb(242, 211, 56);
    box-shadow: 0px 0px 6px rgb(237, 198, 56),
                0px 0px 12px rgb(234, 216, 115),
                0px 0px 20px rgb(244, 236, 167);
}

.uno {
    animation: comet 1s infinite linear;
    animation-delay: 3s;
}

.dos {
    animation: comet2 0.8s infinite linear;
    animation-delay: 5s;
}

.tres {
    animation: comet3 1.3s infinite linear;
    animation-delay: 2s;
}

.cuatro {
    animation: comet4 0.9s infinite linear;
    animation-delay: 4s;
}

.cincp {
    animation: comet5 1.5s infinite linear;
    animation-delay: 1s;
}

@keyframes comet {
    0% {
        top: 0%;
        left: 100%;
    }
    100% {
        top: 100%;
        left: 0;
    }
}

@keyframes comet2 {
    0% {
        top: 0%;
        left: 87%;
    }
    100% {
        top: 100%;
        left: 12%;
    }
}

@keyframes comet3 {
    0% {
        top: 12%;
        left: 100%;
    }
    100% {
        top: 88%;
        left: 0%;
    }
}
@keyframes comet4 {
    0% {
        top: 12%;
        left: 100%;
    }
    100% {
        top: 100%;
        left: 8%;
    }
}
@keyframes comet5 {
    0% {
        top: 0%;
        left: 92%;
    }
    100% {
        top: 90%;
        left: 0%;
    }
}